:root {
  --primary-color: #6246ea;
  --accent-bg-color: #fffffe;
  --bg-ternary: #e45858;
  --paragraph: #2b2c34;
  --page-horizontal-padding: 20px;
  --header-height: 60px;
  --max-content-width: 100vw;
}
