.mainpage {
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.wrapper {
  display: flex;
}

.screenLeft {
  border: px solid green;
}

.screenRight {
  margin-left: 40pxgit;
}
.date {
  font-family: 'Roboto', sans-serif;
}

.outstanding {
  font-family: 'Roboto', sans-serif;
}

.todo {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}
.inbox {
  max-width: 400px;
  margin: 50px 20px;
  background: var(--bg-ternary);
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.calendar {
  margin-top: 30px;
  width: 70%;
  height: 70%;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: #f9f9f9;
  text-decoration: line-through;
}

input[type='checkbox'] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 1;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
}
